@import '_variables'
@import 'components/_reset'
@import 'components/_fonts'
@import 'components/_type'


/**
 * Colors and variables
 */

$color-blue-light = #0095dd
$color-orange = #e66000

/**
 * Layout modules
 */

.row
    margin 0 auto
    padding: 0 10.5em;
    width em(980px)

#outer-wrapper
    border-top 2px solid #fff

    *, *:after, *:before
        box-sizing border-box


/**
 * Sandstone
 */

// Buttons
.button, .button:link, .button:visited
    // display block
    background linear-gradient(#43a6e2,#277ac1)
    border 0
    border-radius .25em
    box-shadow 0 1px 0 0 rgba(#000,0.2), inset 0 -1px 0 0 rgba(#000,0.3)
    color white
    font-family 'Open Sans', sans-serif
    text-align center
    text-decoration none
    text-shadow 0 1px 0 rgba(#000, .65)
    transition all linear .25s

    &:hover, &:focus
        box-shadow 0 1px 0 0 rgba(#000,0.2), inset 0 -1px 0 0 rgba(#000,0.3), inset 0 12px 24px 2px rgba(#fff,.25)
        text-decoration none

    &:active
        box-shadow inset 0 2px 0 0 rgba(#000,0.2), inset 0 12px 24px 6px rgba(#000,0.2), inset 0 0 2px 2px rgba(#000,0.2)

.button-green, .button-green:link, .button-green:visited
    @extend .button
    background linear-gradient(#81bc2e, #659324)

.button-orange, .button-orange:link, .button-orange:visited
    @extend .button
    background #c96a1e url("../images/bg-button-orange.png") repeat-x
    background linear-gradient(#e39926, #c96a1e)
    font-weight bold


.participate-button
    padding .6em .8em .6em 0
    font-size 22px
    text-align center
    -webkit-box-shadow: 0 3px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.3);
    cursor pointer
    font-family 'Open Sans', sans-serif

    &.button-green
        display block
        max-width em(476px);
        margin-bottom em(10px)

.follow-button, .follow-button:visited
    display inline-block
    margin 0 em(8px) 0 0
    font-family 'Open Sans', sans-serif

    &.last
        margin 0

    b
        padding-left 2.5em
        background url("../images/logo-tweet.png") no-repeat 1em 0.3em



/**
 * Different experience between users/guests
 */

.for-firefox, .for-not-firefox, .for-old-firefox
    display none  !important

// Up-to-date Firefox visits
.is-firefox
    .for-firefox
        display block !important

// Not Firefox visits
.not-firefox
    .for-not-firefox
        display block !important

// Older than latest version of Firefox
.old-firefox
    .for-old-firefox
        display block !important

/**
 * Header
 */

#header
    clearfix()
    padding em(20px) em(20px) em(70px)
    height em(500px)
    background #0f9fdb no-repeat center top
    // background-size cover
    color white
    font-family 'Open Sans Light', sans-serif
    position relative

    -webkit-box-shadow inset 0 -30px 30px -30px rgba(0,0,0,0.2)
    box-shadow inset 0 -30px 30px -30px rgba(0,0,0,0.2)

    background-image url("../images/bg-header.jpg");

    border-bottom 2px solid #fff

    p
        max-width em(300px)
        font-size em(18px)
        margin-top em(16px)

    .row
        padding 0 8em

    h1
        margin 4.6em 0 0
        color white
        font-size em(44px)
        letter-spacing -0.25px
        line-height 1.2
        text-transform uppercase
        font-style italic
        font-weight bold

        &.for-firefox
            margin 1em 3em 1em 0

        strong
            font-family 'Open Sans Heavy', sans-serif
            // font-size 150% // 72px
            font-weight bold

    .scroll-down
        position absolute
        width 50px
        height 50px
        display block
        background-color #fff
        background-image url("../images/scroll-down-arrow.jpg")
        background-position center 22px
        background-repeat no-repeat
        border-radius 30px
        bottom -25px
        right 50%
        margin-right -25px

#features
    clearfix()
    float left
    margin 0 -.5em
    padding 0
    font-family 'Open Sans Light', sans-serif
    font-size em(32px)
    list-style none
    text-align center

    li
        float left
        padding 1em .5em
        border-right 1px dotted white

        &.last-child
            padding .3em .5em
            border 0


/**
 * Downloads CTAs
 */

#downloads
    float right
    margin-top 1em

    .download-translator
        margin-top 1em

        .button-orange
            padding .5em 0 .7em
            width 13em
            font-size em(20px)

/**
 * Panel tabs
 */

$tablist-height = em(220px)

#tabs
    clearfix()
    margin 0 0 em(15px)
    overflow hidden
    padding em(50px) 0 0
    list-style-type none
    text-align center

    .tab
        position relative
        float left
        padding 0 2em
        width 33.33%

        &:after
            absolute top -3em right -36px
            size 36px 201px
            background url("../images/bg-divider.png") no-repeat center
            content ''

        &.last:after
            display none

    h2
        margin 0 0 .5em
        color $color-blue-light
        font-size em(24px)
        font-family 'Open Sans', sans-serif

    p
        font-size em(14px)

    a[role="tab"]
        &, &:visited
            color $color-orange
            font-weight bold
            line-height 1.7
            text-decoration none

            &:after
                content ' »'

        &:hover, &:focus
            outline none
            text-decoration underline

    &.is-active
        height $tablist-height
        border-bottom 1px dotted #6a7b86

        .tab
            height $tablist-height - em(50px)
            position relative

            h2, p
                color transparent
                font 0/0 a
            a
                absolute top left
                display block
                size 100%

    .tab
        &.is-active
            background-position center bottom
            background-repeat no-repeat
            image "../images/bg-tab-selected.png" 25px 14px

        &:after
            absolute top -1em right -36px
            size 36px 201px
            background url("../images/bg-divider.png") no-repeat center
            content ''

// Panel icons in pseudo-elements for more control
.icon
    display block
    margin 0 auto 2em
    size 100px
    background-repeat none
    image "../images/bg-section-icons.png" 519px 227px

.icon-translate
    width 93px
    background-position 0 -127px

    .tab.is-active &
        background-position 0 0

.icon-nonprofit
    width 110px
    background-position -130px -127px

    .tab.is-active &
        background-position -130px 0

.icon-privacy
    width 129px
    background-position -259px -127px

    .tab.is-active &
        background-position -259px 0

.icon-join
    width 115px
    background-position -404px -127px

    .tab.is-active &
        background-position -404px -127px


/**
 * Page content
 */

#main
    background url("../images/bg-content.jpg") repeat-x top
    min-height em(292px)
    -webkit-box-shadow: inset 0 -30px 30px -30px rgba(0,0,0,0.2);
    box-shadow: inset 0 -30px 30px -30px rgba(0,0,0,0.2);
    color #484848
    font-size em(16px)

    h2
        margin 0
        padding 119px 0 28px
        text-align center
        font-size em(50px)

    .right
        float right

    .row
        background no-repeat center
        background-image url("../images/bg-prize.png");
        height 292px;
        padding: 0 em(325px);

.panel
    position relative
    display none

    h2
        margin 0 0 .5em
        color $color-blue-light
        font-size em(24px)
        font-family 'Open Sans', sans-serif

    p
        margin 0
        width 60%
        font-size em(18px)

    img
        absolute top 2em right
        width em(130px)
        border 3px solid white
        box-shadow 0 2px 3px rgba(#000,.25)

    .button-green
        float left
        margin-top 1em
        padding .3em
        width 10em
        font-size em(14px)

#panel-2
    img
        width em(140px)

    p
        width 75%

/**
* How to Participate section
*/

#participate
    min-height em(552px)
    color #484848
    font-size em(18px)

    h2
        font-size em(42px)
        padding-top 40px

    a
        color #fff

        &.terms
            color #484848
            font-size 14px
            font-family 'Open Sans Light', sans-serif
            text-decoration none
            font-weight bold
            border-bottom 1px solid #484848
            margin-bottom em(130px)
            display inline-block

    ol
        padding: 0 30px
        line-height em(35px)
        margin-bottom em(30px)

    p
        font-size 14px
        padding-top 10px

    .list-item
        display block

        b
            font-family 'Open Sans Light', sans-serif
            font-style italic
            font-weight bold

    .btn-container
        padding 20px 68px
        margin 20px 0
        background #fafafa
        border 1px solid #f6f6f6
        text-align center

        strong
            color #0f9fdb
            font-style italic
            font-weight bold
            font-size 30px
            letter-spacing -2px
            display block
            margin-bottom 20px

        p
            margin 0
            font-size 16px
            padding-top 0

/**
 * Footer
 */

#footer
    clearfix()
    padding em(50px) 0
    background url("../images/bg-content.jpg") repeat-x top

    .row
        padding 0 8.2em 0 7.8em

.logo-mozilla
    display block
    float left

    img
        display block
        size 98px 25px

#social-pages
    float right

    span
        margin-left 1em

// Social footer links
.social
    display inline-block
    size 29px 30px
    background url("../images/icons-social.png") no-repeat
    hide-text()
    vertical-align middle

    &:hover
        opacity .9

.social-facebook
    @extend .social
    background-position 0 0

.social-twitter
    @extend .social
    background-position -33px 0

.social-google
    @extend .social
    background-position -67px 0
