@import '_variables'
@import 'components/_reset'
@import 'components/_fonts'
@import 'components/_type'


/**
 * Colors and variables
 */

$color-blue-light = #0095dd
$color-orange = #e66000

/**
 * Layout modules
 */

.row
    margin 0 auto
    padding 0 em(10px)
    width em(980px)

#outer-wrapper
    border-top 2px solid #fff

    *, *:after, *:before
        box-sizing border-box


/**
 * Sandstone
 */

// Buttons
.button, .button:link, .button:visited
    display block
    background linear-gradient(#43a6e2,#277ac1)
    border 0
    border-radius .25em
    box-shadow 0 1px 0 0 rgba(#000,0.2), inset 0 -1px 0 0 rgba(#000,0.3)
    color white
    font-family 'Open Sans', sans-serif
    text-align center
    text-decoration none
    text-shadow 0 1px 0 rgba(#000, .25)
    transition all linear .25s

    &:hover, &:focus
        box-shadow 0 1px 0 0 rgba(#000,0.2), inset 0 -1px 0 0 rgba(#000,0.3), inset 0 12px 24px 2px rgba(#fff,.25)
        text-decoration none

    &:active
        box-shadow inset 0 2px 0 0 rgba(#000,0.2), inset 0 12px 24px 6px rgba(#000,0.2), inset 0 0 2px 2px rgba(#000,0.2)

.button-green, .button-green:link, .button-green:visited
    @extend .button
    background linear-gradient(#81bc2e, #659324)

.button-orange, .button-orange:link, .button-orange:visited
    @extend .button
    background #c96a1e url("../images/bg-button-orange.png") repeat-x
    background linear-gradient(#e39926, #c96a1e)
    font-weight bold

.download-button
    display block

    .download-link
        @extend .button-green

    .download-content
        display block
        padding 1.5em 1em 1.5em 4em
        background url("../images/download-arrow.png") no-repeat 1em center

    .download-title
        font-size em(24px)
        font-weight 500

.download-other
    display block
    padding .7em 0
    font-size em(11px)
    text-align center

    a
        color white
        text-decoration none

        &:hover
            text-decoration underline


/**
 * Different experience between users/guests
 */

.for-firefox, .for-not-firefox, .for-old-firefox
    display none  !important

// Up-to-date Firefox visits
.is-firefox
    .for-firefox
        display block !important

// Not Firefox visits
.not-firefox
    .for-not-firefox
        display block !important

// Older than latest version of Firefox
.old-firefox
    .for-old-firefox
        display block !important

/**
 * Header
 */

#header
    clearfix()
    padding em(70px) 0
    height em(640px)
    background no-repeat center top
    background-size cover
    border-bottom 35px solid #00539f
    color white

    .is-firefox &
        background-image url("../images/bg-skateboard.jpg") !important

    .old-firefox &
        background-image url("../images/bg-page-surfer.jpg") !important

    h1
        margin 1.5em 0
        color white
        font-size em(48px)
        letter-spacing -0.25px
        line-height 1.2

        &.for-firefox
            margin 1em 3em 1em 0

        strong
            display block
            font-family 'Open Sans', sans-serif
            font-size 150% // 72px
            font-weight normal

#features
    clearfix()
    float left
    margin 0 -.5em
    padding 0
    font-family 'Open Sans Light', sans-serif
    font-size em(32px)
    list-style none
    text-align center

    li
        float left
        padding 1em .5em
        border-right 1px dotted white

        &.last-child
            padding .3em .5em
            border 0


/**
 * Downloads CTAs
 */

#downloads
    float right
    margin-top 1em

    .download-translator
        margin-top 1em

        .button-orange
            padding .5em 0 .7em
            width 13em
            font-size em(20px)

/**
 * Panel tabs
 */

$tablist-height = em(220px)

#tabs
    clearfix()
    margin 0 0 em(15px)
    overflow hidden
    padding em(50px) 0 0
    list-style-type none
    text-align center

    .tab
        position relative
        float left
        padding 0 2em
        width 33.33%

        &:after
            absolute top -3em right -36px
            size 36px 201px
            background url("../images/bg-divider.png") no-repeat center
            content ''

        &.last:after
            display none

    h2
        margin 0 0 .5em
        color $color-blue-light
        font-size em(24px)
        font-family 'Open Sans', sans-serif

    p
        font-size em(14px)

    a[role="tab"]
        &, &:visited
            color $color-orange
            font-weight bold
            line-height 1.7
            text-decoration none

            &:after
                content ' »'

        &:hover, &:focus
            outline none
            text-decoration underline

    &.is-active
        height $tablist-height
        border-bottom 1px dotted #6a7b86

        .tab
            height $tablist-height - em(50px)
            position relative

            h2, p
                color transparent
                font 0/0 a
            a
                absolute top left
                display block
                size 100%

    .tab
        &.is-active
            background-position center bottom
            background-repeat no-repeat
            image "../images/bg-tab-selected.png" 25px 14px

        &:after
            absolute top -1em right -36px
            size 36px 201px
            background url("../images/bg-divider.png") no-repeat center
            content ''

// Panel icons in pseudo-elements for more control
.icon
    display block
    margin 0 auto 2em
    size 100px
    background-repeat none
    image "../images/bg-section-icons.png" 519px 227px

.icon-translate
    width 93px
    background-position 0 -127px

    .tab.is-active &
        background-position 0 0

.icon-nonprofit
    width 110px
    background-position -130px -127px

    .tab.is-active &
        background-position -130px 0

.icon-privacy
    width 129px
    background-position -259px -127px

    .tab.is-active &
        background-position -259px 0

.icon-join
    width 115px
    background-position -404px -127px

    .tab.is-active &
        background-position -404px -127px


/**
 * Page content
 */

#main
    background url("../images/bg-content.jpg") repeat-x top
    border-top 1px solid white
    min-height em(460px)

.panel
    position relative
    display none

    h2
        margin 0 0 .5em
        color $color-blue-light
        font-size em(24px)
        font-family 'Open Sans', sans-serif

    p
        margin 0
        width 60%
        font-size em(18px)

    img
        absolute top 2em right
        width em(130px)
        border 3px solid white
        box-shadow 0 2px 3px rgba(#000,.25)

    .button-green
        float left
        margin-top 1em
        padding .3em
        width 10em
        font-size em(14px)

#panel-2
    img
        width em(140px)

    p
        width 75%


/**
 * Footer
 */

#footer
    clearfix()
    padding em(50px) 0

.logo-mozilla
    display block
    float left

    img
        display block
        size 98px 25px

#social-pages
    float right

    span
        margin-left 1em

// Social footer links
.social
    display inline-block
    size 29px 30px
    background url("../images/icons-social.png") no-repeat
    hide-text()
    vertical-align middle

    &:hover
        opacity .9

.social-facebook
    @extend .social
    background-position 0 0

.social-twitter
    @extend .social
    background-position -33px 0

.social-google
    @extend .social
    background-position -67px 0
